<div id = "login">
    <h2> Create a Battery Charge</h2>
    
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= form_for(@battery_charge) do |f| %>

              <%= render 'shared/error_messages', object: f.object %>
              
			  <B>Charge:</B> <%= f.number_field :charge %>

              <%= f.submit "Create a Load", class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
</div>
<div style="clear: both;"></div>