<h1>Alternative Energy Solution</h1>

<div id = "login">
    <h2> Login </h2>
    
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= form_for(:session, url: login_path) do |f| %>
    
	            <%= f.label :email %>
                <%= f.text_field :email, class: 'form-control' %>

                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
        
		        <%= f.submit "Log in", class: "btn btn-primary" %>
	        <% end %>
	    </div>
    </div>
</div>

<div id = "signup">
    <h2> Sign Up!</h2>
    
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= form_for(@user) do |f| %>

              <%= render 'shared/error_messages', object: f.object %>
                
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>

              <%= f.label :email %>
              <%= f.text_field :email, class: 'form-control' %>

              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>

              <%= f.label :password_confirmation, "Confirmation" %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>

              <%= f.submit "Create my account", class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
</div>
<div style="clear: both;"></div>

