<div id = "login">
    <h2> Create a Load</h2>
    
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= form_for(:session, url: createLoad_path) do |f| %>
    
    
	            <%= f.label :email %>
                <%= f.text_field :email, class: 'form-control' %>

                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
              
              
                <%= f.fields_for :load_state do |field| %>
              
                    <p id="load">
			        <%= field.radio_button :load, '1' %> Load 1
			        <%= field.radio_button :load, '2' %> Load 2
			        <%= field.radio_button :load, '3' %> Load 3
			        </p>
			    
			        <p id="load">
			        <%= field.radio_button :action, 'true' %> On
			        <%= field.radio_button :action, 'false' %> Off
			        </p>
			    <% end %>
			    
			    
			    

              <%= f.submit "Create a Load", class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
</div>
<div style="clear: both;"></div>