<% provide(:title, @user.name) %>

<h1><%= @user.name %>'s Account</h1>



<h3>Load <%= @load_states_1.first.load %> States: </h3>
    <ol>
        <%= render @load_states_1 %>
    </ol>
<%= will_paginate @load_states_1 %>

<h3>Load <%= @load_states_2.first.load %> States:</h3>
    <ol>
        <%= render @load_states_2 %>
    </ol>
<%= will_paginate @load_states_2 %>

<h3>Load <%= @load_states_3.first.load %> States:</h3>
    <ol>
        <%= render @load_states_3 %>
    </ol>
<%= will_paginate @load_states_3 %>

<h3>Load <%= @load_states_4.first.load %> States: (Battery)</h3>
    <ol>
        <%= render @load_states_4 %>
    </ol>
<%= will_paginate @load_states_4 %>




<h3>Battery Charges (<%= @user.battery_charges.count %>)</h3>
    <ol>
        <%= render @battery_charges %>
    </ol>
<%= will_paginate @battery_charges %>