// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#load{
    float: right;
    clear: right;
    width: 50%;
    margin: 0px 10px 12px 0px;
    text-align: right;
}