<%
   if(load_state.action == true) 
      var = "On"
   else
      var = "Off"
   end
%>

<div id="load_states">
   
<ul>
   
   <b>Load <%= load_state.load %>: <%= var %> </b>
   <br>
   Created: <%= load_state.created_at %>
   
</ul>
</div>
<div style="clear: both;"></div>