<div id = "login">
    <h2> Create a Load</h2>
    
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= form_for(@load_state) do |f| %>

              <%= render 'shared/error_messages', object: f.object %>
              
              <p id="load">
			        <%= f.radio_button :load, '1' %> Load 1
			        <%= f.radio_button :load, '2' %> Load 2
			        <%= f.radio_button :load, '3' %> Load 3
			        <%= f.radio_button :load, '4' %> Battery
			        </p>
			    
			        <p id="load">
			        <%= f.radio_button :action, 'true' %> On
			        <%= f.radio_button :action, 'false' %> Off
			        </p>
			        
              <%= f.submit "Create a Load", class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
</div>
<div style="clear: both;"></div>