<footer class="footer">
  <small id = "footer1">
      Trine University ECE - Senior Design   
  </small>
  <small id ="footer2">
  Daniel Burns, Tony Huerta, Michael Stabler, Taylor Wisler, Andrew Wong
  </small>
  <nav>
    <ul>
    </ul>
  </nav>
</footer>