<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Smart Power", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
	      <li><%= link_to "Profile", current_user %></li>
	      <li><%= link_to "New Load", new_load_state_path %></li>
	      <li><%= link_to "New Charge", new_battery_charge_path %></li>
	      <li><%= link_to "Settings", '#' %></li>
	      <li><%= link_to "Logout", logout_path, method: "delete"  %></li>
	      <% end %>
      </ul>
    </nav>
  </div>
</header>